WebContent/wsdl/EmployeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.self.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.self.com" xmlns:intf="http://ws.self.com" xmlns:tns1="http://dto.self.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.self.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.self.com"/>
   <element name="getEmployeeInfo">
    <complexType>
     <sequence>
      <element name="empId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmployeeInfoResponse">
    <complexType>
     <sequence>
      <element name="getEmployeeInfoReturn" type="tns1:EmployeeDTO"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.self.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EmployeeDTO">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="empId" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmployeeInfoRequest">

      <wsdl:part element="impl:getEmployeeInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmployeeInfoResponse">

      <wsdl:part element="impl:getEmployeeInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeService">

      <wsdl:operation name="getEmployeeInfo">

         <wsdl:input message="impl:getEmployeeInfoRequest" name="getEmployeeInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmployeeInfoResponse" name="getEmployeeInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceSoapBinding" type="impl:EmployeeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmployeeInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmployeeInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmployeeInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceService">

      <wsdl:port binding="impl:EmployeeServiceSoapBinding" name="EmployeeService">

         <wsdlsoap:address location="http://localhost:8080/WebServicesSOAPBottomUp/services/EmployeeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
